In [2]:
import requests, pandas as pd
from bs4 import BeautifulSoup as BS
# Here we import the libraries we would usually need for scraping...

In [3]:
url='https://finance.yahoo.com/news/countries-using-cryptocurrency-most-210011742.html?guccounter=1&guce_referrer=aHR0cHM6Ly9kdWNrZHVja2dvLmNvbS8&guce_referrer_sig=AQAAAIUUjPEtoyQ3QSqxHpY6IoDOTGBJPJKISdoyZU9I6ZQKlZmeaN4xxR2D0poHgWtnUR49t3vp-5bw1ID3ciWZkIRAkuBeNb_ulgvmW2trpXPHZguAbJx2KL2_m9a3ox0MbmjseqEXFrpe778UlgdZzQtNIWWycob8sv3CHmUor9HS'

In [4]:
html = requests.get(url)
soup = BS(html.content, 'html.parser')
soup

<!DOCTYPE html>

<html lang="en-us"><head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<meta charset="utf-8"/>
<title>Yahoo</title>
<meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport"/>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
<style>
  html {
      height: 100%;
  }
  body {
      background: #fafafc url(https://s.yimg.com/nn/img/sad-panda-201402200631.png) 50% 50%;
      background-size: cover;
      height: 100%;
      text-align: center;
      font: 300 18px "helvetica neue", helvetica, verdana, tahoma, arial, sans-serif;
  }
  table {
      height: 100%;
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      border-spacing: 0;
      border: none;
  }
  h1 {
      font-size: 42px;
      font-weight: 400;
      color: #400090;
  }
  p {
      color: #1A1A1A;
  }
  #message-1 {
      font-weight: bold;
      margin: 0;
  }
  #message-2 {
      display: inline-block;
      *display: inline;
      zoom: 1;
      max-width: 17em;
      _width: 17em;
  }
      </style>
<script>
    document.write('<img src="//geo.yahoo.com/b?s=1197757129&t='+new Date().getTime()+'&src=aws&err_url='+encodeURIComponent(document.URL)+'&err=%<pssc>&test='+encodeURIComponent('%<{Bucket}cqh[:200]>')+'" width="0px" height="0px"/>');var beacon = new Image();beacon.src="//bcn.fp.yahoo.com/p?s=1197757129&t="+new Date().getTime()+"&src=aws&err_url="+encodeURIComponent(document.URL)+"&err=%<pssc>&test="+encodeURIComponent('%<{Bucket}cqh[:200]>');
  </script>
</head>
<body>
<!-- status code : 404 -->
<!-- Not Found on Server -->
<table>
<tbody><tr>
<td>
<img alt="Yahoo Logo" src="https://s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_p_205x58_frontpage.png"/>
<h1 style="margin-top:20px;">Will be right back...</h1>
<p id="message-1">Thank you for your patience.</p>
<p id="message-2">Our engineers are working quickly to resolve the issue.</p>
</td>
</tr>
</tbody></table>
</body></html>

In [5]:
values=soup.findAll('ul',class_='caas-list caas-list-bullet')
values
# This is clearly not the HTML that we saw when we inspected the element on the actual webpage!

[]

In [6]:
# In the above, I have tried to put the URL in a soup and find the percentages from the class I know they are in from inspecting element.
# However, as this page has a 'see more' part, the HTML that comes up is different to that on the page (not useful).
# Thus, I go onto the page itself, click 'edit HTML', then copy and paste the 'ul' part of the HTML, save this as a HTML file on my desktop, and upload this to GitHub and scraper from there, which is what I do below:

In [7]:
url ='https://raw.githubusercontent.com/tm19784/tm19784.github.io/main/yahooFinanceScraped.html'
html = requests.get(url)

In [8]:
soup = BS(html.content, 'html.parser')
soup
# We now have the part of the HTML that we want to scrape.

<!-- This HTML has been copied from a Yahoo Finance page, as the page had a 'story continues' button so was not scrapable through just using Beautiful Soup on the link. -->
<!-- I used inspect element to find <ul> notes with this specific class contained all of the information for both variables I needed. -->
<!-- Thus, I clicked 'edit HTML' on this specific part and then copied and uploaded it to my GitHub account. -->
<!-- There is a link to this Google Colaboratory notebook and further explanation of the above on my project page. -->
<ul class="caas-list caas-list-bullet">
<li>
<p>
<b>Nigeria:</b>
<span> 32%</span>
</p>
</li>
<li>
<p>
<b>Vietnam:</b>
<span> 21%</span>
</p>
</li>
<li>
<p>
<b>Philippines: </b>
<span>20%</span>
</p>
</li>
<li>
<p>
<b>Turkey: </b>
<span>16%</span>
</p>
</li>
<li>
<p>
<b>Peru:</b>
<span> 16%</span>
</p>
</li>
<li>
<p>
<b>Switzerland:</b>
<span> 11%</span>
</p>
</li>
<li>
<p>
<b>India:</b>
<span> 9%</span>
</p>
</li>
<li>
<p>
<b>China:</b>
<span> 7%</span>
</p>
</li>
<li>
<p>
<b>U.S.:</b>
<span> 6%</span>
</p>
</li>
<li>
<p>
<b>Germany:</b>
<span> 5%</span>
</p>
</li>
<li>
<p>
<b>Japan:</b>
<span> 4%</span>
</p>
</li>
</ul>

In [9]:
countries=soup.findAll('b')
countries
countries_list=[i.text.replace(':','') for i in countries]
countries_list

['Nigeria',
 'Vietnam',
 'Philippines ',
 'Turkey ',
 'Peru',
 'Switzerland',
 'India',
 'China',
 'U.S.',
 'Germany',
 'Japan']

In [10]:
percentages=soup.findAll('span')
percentages
percentages_list=[int(i.text.replace('%','')) for i in percentages]
percentages_list

[32, 21, 20, 16, 16, 11, 9, 7, 6, 5, 4]

In [27]:
df_Yahoo=pd.DataFrame([countries_list,percentages_list]).T
df_Yahoo.rename(columns={0: 'Country or Area'}, inplace=True)
df_Yahoo.rename(columns={1: 'Citizens (%)'}, inplace=True)
df_Yahoo.sort_values('Country or Area', ascending=True, inplace=True)
df_Yahoo_better = df_Yahoo.reset_index()[['Country or Area', 'Citizens (%)']]
# Here I have isolated the part of the edited HTML that is useful to me, and then completed minor cleaning.
# This ensures that all observations are left as plain words and integers.
# I also renamed the columns so the code would be easier to follow later on.
# In addition, I also put the countries in alphabetical order as this is the format of the other dataframe.

In [24]:
url_Continent = 'https://statisticstimes.com/geography/countries-by-continents.php'
# To display more information on my bar chart, I am also scraping a website that categorises countries by continent.

In [25]:
html = requests.get(url_Continent)
Continent_dfs=pd.read_html(html.content)
Continent_dfs[2]
# The third table on the page is the one that I want, hence I need to select the 2nd dataframe.

      No            Country or Area  ...            Region 2  Continent
0      1                Afghanistan  ...                 NaN       Asia
1      2              Åland Islands  ...                 NaN     Europe
2      3                    Albania  ...                 NaN     Europe
3      4                    Algeria  ...                 NaN     Africa
4      5             American Samoa  ...                 NaN    Oceania
..   ...                        ...  ...                 ...        ...
244  245  Wallis and Futuna Islands  ...                 NaN    Oceania
245  246             Western Sahara  ...                 NaN     Africa
246  247                      Yemen  ...                 NaN       Asia
247  248                     Zambia  ...  Sub-Saharan Africa     Africa
248  249                   Zimbabwe  ...  Sub-Saharan Africa     Africa

[249 rows x 7 columns]

In [26]:
usefulContinent = Continent_dfs[2][['Country or Area','Continent', 'ISO-alpha3 Code']]
finishedContinent = usefulContinent[usefulContinent['ISO-alpha3 Code'].str.contains('VNM|USA|NGA|CHE|DEU|PHL|PER|CHN|IND|JPN|TUR', na=False)]
finishedContinent['Country or Area'] = finishedContinent['Country or Area'].str.replace('Viet Nam', 'Vietnam').str.replace('United States of America', 'U.S.')
cleanedContinent = finishedContinent[['Country or Area', 'Continent']].reset_index()
cleanedContinent = cleanedContinent[['Country or Area', 'Continent']]
cleanedContinent
# Here I keep rows from the original dataframe that have country codes matching the countries from the other dataframe.
# I also rename two country names so they match that of the other dataset.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Country or Area      Continent
0            China           Asia
1          Germany         Europe
2            India           Asia
3            Japan           Asia
4          Nigeria         Africa
5             Peru  South America
6      Philippines           Asia
7      Switzerland         Europe
8           Turkey           Asia
9             U.S.  North America
10         Vietnam           Asia

In [37]:
df_Yahoo_less = df_Yahoo_better[['Citizens (%)']]
df_Yahoo_continent = cleanedContinent.join(df_Yahoo_less)
df_Yahoo_continent
# This merges the dataset by the name of the country.
# I can now use the 'Continent' column to display extra information in Vega.

   Country or Area      Continent Citizens (%)
0            China           Asia            7
1          Germany         Europe            5
2            India           Asia            9
3            Japan           Asia            4
4          Nigeria         Africa           32
5             Peru  South America           16
6      Philippines           Asia           20
7      Switzerland         Europe           11
8           Turkey           Asia           16
9             U.S.  North America            6
10         Vietnam           Asia           21

In [38]:
df_Yahoo_continent.to_csv('top10_Crypto_Countries.csv')
# This exports our above dataframe as a CSV file.